<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <title>EnableCoffee / RPi 3 / Internet of Things App</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="/about">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">EnableCoffee RPi 3 App</h3>
    </div>

    <div class="jumbotron">
      <h1>About</h1>
      <p class="lead">Remotely controlling the warming of a coffee machine using a RPi 3, and a web application for the Internet of things made with Python and Flask framework.</p>
    </div>

    <footer class="footer">
      <p>&copy; 2017 Fairfield Labs, http://anthlis.io</p>
    </footer>

  </div>
  <!-- /container -->
</body>

</html>
