<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <title>EnableCoffee / RPi 3 / Internet of Things App</title>

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/about">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">EnableCoffee RPi 3 App</h3>
    </div>

    <div class="jumbotron">
      <h1>Let's drink coffee!</h1>
      <p class="lead">Remotely controlling the warming of a coffee machine using a RPi 3, and a web application for the Internet of things made with Python and Flask framework.</p>
    </div>

    <div class="row marketing">
      <div class="col-lg-12">
        <h4>Sensor value:</h4>
        <p>{{ sensor_value }}</p>

        <h4>EnableCoffee Machine on/off control</h4>
        <p>
          <button type="button" id="set_on" class="btn btn-success">Turn on the coffee machine</button>
          <button type="button" id="set_off" class="btn btn-danger">Turn off the coffee machine</button>
        </p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2017 Fairfield Labs, http://anthlis.io</p>
    </footer>

  </div>
  <!-- /container -->

  <script src="https://code.jquery.com/jquery-2.2.2.min.js"
			    integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
			    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}"></script>
</body>

</html>
